html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-file-label {
  top: 11px;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.textCardColor {
  color: #fff;
}

.colorBack {
  background-color: #f5f5f5;
}

.iconHeaderColor {
  background-color: #424242;
}

.backgroundFooterColor {
  background-color: #424242;
}

.file-field.medium .file-path-wrapper {
  height: 3rem;
}
.file-field.medium .file-path-wrapper .file-path {
  height: 2.8rem;
}

.file-field.big-2 .file-path-wrapper {
  height: 3.7rem;
}
.file-field.big-2 .file-path-wrapper .file-path {
  height: 3.5rem;
}

.modal {
  display: none;
}

.gv-table-view tfoot {
  display: none;
}

.gv-datatables tfoot {
  display: none;
}

.table {
  margin-bottom: 0px;
}

.table td,
.table th {
  vertical-align: middle;
}

/* Admin Menu */

.button-admin {
  cursor: pointer;
  color: #fff;
  background-color: #7e7e7e;
  margin: 0.375rem;
  text-transform: uppercase;
  white-space: normal;
  border: 0;
  border-radius: 0.125rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0.84rem 2.14rem;
  font-size: 0.81rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  line-height: 1.5;
  width: 22rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-admin:hover {
  color: #fff;
  outline: 0;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  text-decoration: none;
  cursor: pointer;
}

.button-admin:focus {
  outline: 0;
  background-color: #575555;
}

.button-admin:active {
  background-color: #575555;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.admin-menu {
  background-color: #b4b4b4;
  text-align: center;
  font-weight: 400;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2rem 2rem 0 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
}

.admin-menu-header {
  text-align: center;
  padding: 0.75rem 1.25rem 0 1.25rem;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
}

.buttons-admin-menu {
  width: 100%;
  flex-direction: row;
  padding: 0.75rem 1.25rem 1.25rem 1.25rem;
}

/* Upload e Download Boxes */
.download-and-upload {
  min-height: 13rem;
  box-sizing: border-box;
  margin: auto 0;
}

/* Upload Box */
.upload-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.upload-wrapper {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-area {
  margin-right: 1rem;
}

.custom-file {
  width: 100%;
  display: block;
}

.custom-file-label {
  margin: 0 auto;
  text-align: left;
}

#select-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1rem;
  justify-items: center;
  margin: 0 auto 0.6rem auto;
}

#select-box-partner {
  justify-self: right;
}

#select-container label {
  margin-right: 0.3rem;
  margin-bottom: 0;
}

#select-box-campaign label {
  margin-left: 0.7rem;
}

#select-container #select-container div:nth-child(2) {
  margin-left: 1rem;
}

#select-container.alone {
  display: unset;
  margin-top: 0.6rem;
}

.select-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.col-md-6#upload-box {
  flex: 0 0 60%;
  max-width: 60%;
  margin-bottom: 0.7rem !important;
}

.upload-wrapper .loading-msg {
  margin-bottom: 0.6rem;
}

.no-campaigns-msg {
  color: rgb(97, 97, 97);
  padding-left: 1rem;
}

/* Download Box */
.card-body#download-body {
  display: flex;
  flex-direction: column !important;
  align-items: center;
}

button#download-csv,
button#download-manual {
  width: 18rem;
}

.col-md-6#download-box {
  flex: 0 0 40%;
  max-width: 40%;
  margin-bottom: 0.7rem !important;
}

/* Table Imports */
.table-upoloads {
  margin-bottom: 8rem !important;
}

/* Formulário */
#page-register-campaign {
  margin: 2rem;
}

#form-container {
  max-width: 32rem;
  padding: 0;
}

.input-block {
  display: block;
  margin-bottom: 0.5rem;
}

.input-block label {
  font-size: 0.95rem;
}

.input-block span {
  font-size: 0.85rem;
  color: #5f5f5f;
}

.input-block input {
  width: 100%;
  border: 1px solid #a3a3a3;
  border-radius: 0.125rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  padding: 0.3rem 0.8rem;
  font-size: 0.95rem;
  transition: all 0.2s;
}

.input-block:last-child {
  margin-bottom: 2rem;
}

.input-block input:focus {
  outline: 0;
  background-color: #f0f0f0;
}

div.input-date-area {
  display: flex;
}

.error-msg {
  color: red;
  margin-bottom: 0.8rem;
}

.loading-msg {
  color: rgb(97, 97, 97);
}

div.success-msg {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.3rem;
}

div.fail-msg {
  color: red;
  margin-top: 3rem;
  text-align: center;
  font-size: 1.3rem;
}

.button-admin#send-form {
  margin: 2rem auto 10rem auto !important;
  width: 60%;
  box-sizing: border-box;
}

#clean-start-date-input,
#clean-deadline-input {
  font-size: 1rem;
  font-weight: 300;
  background: none;
  color: rgb(23, 58, 172);
  border: 0;
  margin-left: 1rem;
}

#clean-start-date-input:focus,
#clean-deadline-input:focus {
  outline: 0;
}

#clean-start-date-input:hover,
#clean-deadline-input:hover {
  color: rgb(11, 26, 77);
}

input.hidden {
  background: #dbdbdb;
}

.input-block#partner_name_container {
  display: flex;
  flex-direction: column;
}

select {
  padding: 0.4rem;
  width: 16rem;
  font-size: 0.95rem;
  color: #212529;
}

select:focus {
  outline: 0;
}

select:disabled {
  background-color: #e9ecef;
  color: #5a6066;
}

label.label-disabled {
  color: #5a6066;
}

.button-admin:hover {
  background-color: #535353;
}

.button-wrapper {
  width: 100%;
  text-align: center;
}

.btn:disabled {
  background-color: #a3a3a3;
}

/* Footer  */
#footer-portal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Max */

@media (max-width: 1263px) {
  .buttons-admin-menu button {
    width: auto;
  }

  .download-and-upload {
    min-height: unset;
  }

  .mb-4,
  .my-4 {
    margin-bottom: 1rem !important;
  }

  #table-container {
    margin-bottom: 8rem !important;
  }

  #upload-and-download-container {
    flex-direction: column;
  }

  .col-md-6#download-box {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-md-6#upload-box {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card-body#download-body {
    display: flex;
    flex-direction: row !important;
    margin: 0 auto;
  }

  button#download-csv,
  button#download-manual {
    margin: 0.375rem;
  }
}

@media (max-width: 992px) {
  #main-container {
    margin: 0 1rem !important;
  }
}

@media (max-width: 780px) {
  .card-body#download-body {
    flex: 0;
    flex-direction: column !important;
    /* margin: 0 auto; */
  }

  #select-container {
    display: flex;
    flex-direction: column;
  }

  #select-box-partner {
    margin: 1rem auto 0.5rem auto;
  }

  #select-box-campaign {
    margin: 0.5rem auto 0.5rem auto;
  }

  div.upload-area {
    display: flex;
    flex-direction: column;
  }

  div.buttons-area {
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
  }

  .custom-file-label {
    width: 100%;
  }

  .input-area {
    margin: 0 auto;
  }

  .buttons-area {
    margin: 0 auto;
  }
}

@media (max-width: 680px) {
  .buttons-admin-menu button {
    width: 88%;
    margin: 0.5rem 0.375rem;
  }

  button#download-manual,
  button#download-csv {
    width: 100%;
    margin: 0.5rem 0.375rem;
  }

  .upload-area {
    width: 100%;
  }
}

/* Min */
@media (min-width: 768px) {
  .custom-file {
    max-width: 100%;
    display: block;
  }
}
